<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="span12 text-center">
        <h3><%= @page.title %></h3>
      </div>
    </div>
  </div>
</section>


<!--Work-->
<section id="content2">
  <div class="container text-center">          
      
      <div class="row margin-40">
	
	
				<% @page.children.each do |child| %>

			  
    		
    		<!--Project Thumbnail One-->
    		<div class="span4">
    			<div class="thumbs">
						<%= raw child.content_for(:pic) %>
    			</div>
    			
				  

    			<div class="project-title margin-30">
    		    <h4><% name_position = child.title.split("|") %><%= link_to name_position[0], child.url %></h4>
							<% service_image = Nokogiri::HTML(child.content_for(:body)) %>
							<%= raw service_image.css('img') %>
							
							<p><%= raw truncate strip_tags(child.content_for(:body)),
																																				
																																				length: 125,
							 																													separator: ' ',
																																				omission: '...',
																																				preserve_html_tags: false %></p>
						<p><%= link_to "Leer más ...", child.url %><p>

    		  </div>
    		</div>

				<% end %> 

    		
    			
    		
    		
      
  </div>
</section>          