<!--Content-->
<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="span12 text-center">
        <h3><%= @page.title %></h3>
      </div>
    </div>
  </div>
</section>
  
  
<!--Content-->      
<section id="content2">
  <div class="container">
    <div class="row">
      
      <!--Column One-->
      <div class="span8">
	
	
				<% content_for :body do %>
				  <%=raw @page.content_for(Refinery::Pages.default_parts.first.to_sym) unless params[:page] %>

				  <% if @items.any? %>
				    <% @items.each do |item| %>
        
        <!--Blog Post-->
        <article class="blog-post margin-60">
          <h3><%= link_to item.title, refinery.news_item_path(item) %></h3>
          <p><small><%= t('.published') %> <%= l(item.publish_date, :format => :long) %></small></p>
          <p><%= truncate  item.body, :length => 200,
	                      :omission => " ...",
	                      :preserve_html_tags => true %>
	        </p><br />
          <%= link_to "Leer Más", refinery.news_item_path(item), class: "btn-main" %>
        </article>
        

				    <% end %>

				    <%= will_paginate @items %>
				  <% else %>
				    <p><em><%= t('.no_items_yet') %></em></p>
				  <% end %>
				<% end -%>

				<% content_for :body_content_right_prepend do -%>
				  <%= raw @page.content_for(::Refinery::Pages.default_parts.second.to_sym) %>
				<% end if ::Refinery::Pages.default_parts.many? -%>
				<%= render '/refinery/news/shared/body_content_right' %>

				<%= render "/refinery/content_page" %>


       
        
      </div><!--End Column One-->
      
      <!--Side Bar-->
      <div class="span4">
        
                      
      </div>
      
    </div><!--End Row-->
    
    <div class="row">
      <div class="span12 text-left">
        <div class="pagination">
        </div>
      </div>
    </div>           
             
  </div>
</section>
    


